.app-card {
    width: 18rem;
}

.card-col {
    max-width: 18rem;
    padding-left: 0;
    padding-right: 0;
}

.control {
    margin: 10px;
}

.inline-item {
    display: inline-block;
    margin-right: 1rem;
}